.b1{
    background-color: rgb(192, 159, 212);
    border: 2px dashed rgb(0, 13, 201);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}
.b1 h1{
    background-color: rgb(234, 118, 118);
    border-radius: 10px;
}