.card {
    width: 300px;
    height: 400px;
    background-color: #f8f8ff;
    border: 2px dashed #c0c0c0;
    border-radius: 12px;
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.card h2 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #bf30d5;
}

.card p {
    font-size: 14px;
    color: #663f5d;
    flex-grow: 1;
}

.card button {
    width: 100%;
    padding: 10px;
    background-color: #4a6cff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

}


