* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.dashboard {
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;   
    grid-template-rows: auto 1fr auto;   

    height: 100vh;
}


.header {
    grid-column: 1 / 4;
    background: #5e8cee;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
}


.sidebar {
    background: #a5abc9;
    padding: 20px;
}


.main {
    background: #ffffff;
    padding: 20px;
}


.widgets {
    background: #e5f721;
    padding: 20px;
}


.footer {
    grid-column: 1 / 4;
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
