*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#laypot{
    display: flex;
}
#sidebar{
    position: sticky;
    top: 0;
    height: 100%;
    width: 200px;
    flex-direction:column;
    background-color: gray;
    text-decoration: none;
}

#content{
    padding-left: 200px;
    
}