* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;         
}

.img-box {
    width: 30%;       
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-box img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s;
}


