body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 900;

}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: blue;
}
a:hover{
    color: rgb(255, 174, 0);
}
a:active{
    color: rgb(255, 0, 212);
}