body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cardsdiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 2px;
}

.card {
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 2px dashed rgb(145, 56, 187);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.img-box {
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

.img-box img{
    width: 100%;
    border-radius: 5px;
}

.card button {
    background-color: rgb(207, 203, 164);
    font-style: italic;
    height: 30px;
    padding: 3px;
    margin: 5px;
    border: none;
    border-radius: 8px;

}

@media(min-width:1200px) {
    #cardsdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

@media(min-width:768px) {
    #cardsdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .card {
        height: auto;
        width: 300px;
    }
}
@media(min-width:480px) {
    #cardsdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .card {
        height: auto;
        width: 300px;
    }
}
@media(max-width:480px) {
    #cardsdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .card {
        height: auto;
        width: 300px;
    }
}