#nav a {
    background-color: rgb(190, 190, 213);
    display: inline;
    margin-right: 15px;
    margin-top: 30px;
    background: #d0e8ff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;

}

#nav1 a {
    background-color: rgb(190, 190, 213);
    display: block;
    width: 100px;
    height: 100%;
    padding: 8px 12px;
    margin-top: 30px;
    border-radius: 5px;
    text-decoration: none;
}

