#nav{
    padding: 5px;
    background-color: rgb(164, 193, 219);
    text-decoration: none;
}
@media(min-width:768px) {
    #nav{
        height: auto;
        width: 100%;
        background-color: #2c7bc1;
    }
    #nav a{
        color: #000;
        text-decoration: none;
        margin: 10px
    
    }
}
@media(max-width:768px) {
    #nav{
        height: 100vh;
        width: 100px;

    }
    #nav a{
        color: #000;
        text-decoration: none;
        margin: 10px
    }
}

